<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" href="#">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-item>

    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Patata</h1>

  <ion-item>
    <img src="assets/patata.png" class="main-image-plant">
  </ion-item>

  <p>
    Se las conoce por muchos nombres: Solanum tuberosum, papas o patatas son los más comunes de ellos en nuestro
    idioma. Sin embargo, por lo que sí se las reconoce inmediatamente en todo el mundo sin importar el idioma,
    es por su sabor.
  </p>

  <h2>Se recomienda plantar hoy?</h2>
  <ion-button (click)="checkConditions()">Verificar</ion-button>
  <p>{{ judgement }}</p>

  <h2>Siembra</h2>
  <p>
    La siembra de la patata tiende a hacerse de forma más o menos universal al inicio de la primavera,
    alrededor de marzo o abril. Sin embargo, depende en gran medida del clima. Zonas con inviernos suaves y sin
    heladas nos pueden permitir sembrarlas a finales de invierno, adelantando así la cosecha. Del mismo modo,
    hay quien las siembra a finales de verano.
    <br><br>
    Sembrar patatas es muy sencillo, ya que lo que usaremos serán las propias patatas, es decir el tubérculo de
    la planta. Veamos el proceso sobre cómo sembrar papas o patatas paso a paso:
  </p>

  <ul>
    <li>
      Prepara el suelo: las patatas necesitan de suelos con un buen drenaje, así que evita utilizar suelos que se
      encharquen. Si tienes un macetero de gran tamaño, también puedes usarlo para tus patatas, pero recuerda que los
      tubérculos necesitan una buena cantidad de espacio bajo tierra para desarrollarse. Muchos agricultores y
      aficionados aconsejan enriquecer el suelo con estiércol el mismo día de la siembra. en este otro post te damos
      varios Consejos para preparar la tierra para sembrar hortalizas.
    </li>
    <li>
      Prepara las patatas para sembrarlas: puedes utilizar patatas normales, aunque si las compras de siembra obtendrás
      mejores resultados. Aquí te mostramos +10 tipos de patatas para que puedas conocer diversas variedades y elegir la
      que mas te guste. Una vez tengas las patatas listas, corta cada una en 2 o 3 trozos en función de su tamaño. Así
      optimizarás la producción llegando a obtener varias plantas de cada patata. Puedes cortarlas unos días antes de
      sembrarlas para que los cortes cierren, y es aconsejable dejar que los brotes se lleguen a desarrollar un poco
      antes de sembrarlas.
    </li>
    <li>
      Entierra las patatas partidas: hazlo a unos 20 o 25 cm de profundidad, dejando una distancia de 35 cm entre cada
      una en la línea. Si estás utilizando maceteros, deja un solo pedazo por cada uno, ya que cuando se desarrolle lo
      ocupará por completo a menos que sea realmente grande. Si estás plantando en huerto y usas varias líneas o surcos,
      deja unos 70 cm entre ellos.
    </li>
  </ul>

  
  <h2>Calorias estimadas por cantidad de plantas sembradas</h2>
  
  <ion-input type="number" placeholder=0 [(ngModel)]="NumPlants">Cantidad de plantas:</ion-input>
  <ion-button (click)="getCalories(66)">Calcular</ion-button>
  <p>R= {{ calories }} calorias</p>
  

  <h2>Cuidados</h2>
  <p>
    Ahora que ya sabes cuándo y cómo sembrar papas o patatas, te damos una serie de cuidados básicos para cultivar papas o patatas en casa o en una parcela de terreno o huerto.
    <br><br>
    Uno de los principales enemigos de las patatas son las hierbas adventicias, comúnmente llamadas malas hierbas, que son las que aparecen de forma espontánea y no deseada en torno a nuestras plantas. Es importante que mantengas la tierra de tus patatas limpia de estas hierbas, sobre todo durante las 6 u 8 primeras semanas.
    <br><br>
    Las patatas agradecen también la presencia de potasio en el suelo, que puede añadirse en forma de fertilizante
    granulado, o enterrando en el suelo hojas de albahaca o saúco.
    <br><br>
    Respecto al riego, la patata precisa de humedad, pero no de encharcamiento. Debes regar lo suficiente para no dejar que el suelo llegue a estar seco en exceso. Para esto, el riego por goteo es una muy buena opción.
    <br><br>
    Además, el cultivo de la patata exige de un aporcado. Esto consiste en cubrir con tierra la base de la planta
    conforme los tubérculos empiezan a crecen, evitando así que queden expuestos en la superficie. De no hacerse, las
    patatas se verdearán, volviéndose tóxicas para el consumo.
    <br><br>
    Como detalle final, es bueno apuntar que la patata es un cultivo que extrae una gran cantidad de nutrientes del
    suelo, por lo que, aunque nunca se aconseja sembrar dos temporadas seguidas la misma planta en el mismo suelo, con este cultivo resulta particularmente poco recomendable repetir su siembra en la misma tierra.
  </p>

  
  <ion-item>
    <img src="assets/potato_cuidados.jpg">
  </ion-item>

  <ion-button href="https://www.bioenciclopedia.com/papa/" 
  target="_blank" expand="block" class="more-info-button">
    Mas información aquí
  </ion-button>


  <h2>Plagas</h2>
  <ul>
    <li>
      Escarabajo de la papa (Leptinotarsa decemlineata) es una plaga severa con fuerte resistencia a los insecticidas.
    </li>
    <li>
      Polilla de la papa, conocida comúnmente como Phthorimaea operculella, es la plaga más dañina de las papas sembradas y almacenadas en áreas cálidas y secas.
    </li>
    <li>
      Mosca minadora (Liriomyza huidobrensis) es oriunda de Sudamérica y común en áreas donde hay un uso intensivo de insecticidas.
    </li>
    <li>
      Nemátodo del quiste (Globodera pallida y  rostochiensis) es una plaga severa del suelo en las regiones templadas, los Andes y otras áreas de altura.
    </li>
  </ul>

  <ion-item>
    <img src="assets/potato_plage.jpg">
  </ion-item>

  <h2>Enfermedades</h2>
  <p>Los virus se diseminan en los tubérculos y pueden reducir los rendimientos hasta en 50 por ciento.</p>
  <ul>
    <li>Tizón tardío, la más severa enfermedad de la papa en todo el mundo, es causada por Phytophthora infestans, un hongo de agua que destruye las hojas, tallos y tubérculos.</li>
    <li>Marchitez bacteriana, causada por Ralstonia solanacearum, es un patógeno bacterial que acarrea pérdidas severas en regiones tropicales, subtropicales y templadas.</li>
    <li>Pierna negra de la papa, es una infección bacterial causada por Pectobacterium que produce pudrición de los tubérculos en el suelo y en almacén.</li>
  </ul>
</ion-content>