<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-card text-center>

  <ion-card-content>
    
    <h1>Registrar usuario</h1>
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input type="text" placeholder="" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button (click)="Register()">Registrarse</ion-button>

  </ion-card-content>
</ion-card>


<ion-grid>
  <ion-col>
    <h2>Ya tienes cuenta?</h2>
  </ion-col>
  
  <ion-col>
    <ion-button href="/inicio-sesion">Iniciar sesión</ion-button>
  </ion-col>
</ion-grid>

