ion-toolbar{
    padding-left: 15px;
    --background:#d1d990;
}



ion-toolbar ion-title{
    color: #618f50;
    font-weight: bold;
    font-size:30px;
    padding-left:15%;
}

ion-toolbar ion-thumbnail{
    width: 80px;
    height: 80px;
}

h1{
    padding-left:7%;
    font-size:33px;
    font-weight: bold;
    color:black;
    margin-bottom:40px;
}

ion-card ion-item{
    padding-left:10%;
    padding-right:10%;
    padding-bottom:1%;
    --background:#f1f1f1;
}
ion-card ion-button{
    font-size:  25px;
    padding-left:10%;
    padding-right:10%;
    height:70px;
    width: 100%;
    --background: #D4A373;
    color:black;
    font-weight: bold;
    margin-top:10px;
}
ion-card{
    margin-top: 15%;
    margin-left:5%;
    margin-right:5%;
    --background: #FAEDCD;
}
h2{
    font-size: 15px;
    padding-left:15%;
}
ion-col ion-button{
    --background: rgb(246, 235, 192);
    color:black;
    font-weight: bold;
}
