<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" href="../home">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-item>

    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Ajo</h1>

  <ion-item>
    <img src="assets/garlic.png" class="main-image-plant">
  </ion-item>

  <p>
    El ajo, de nombre científico Allium sativum, es una de las plantas más cultivadas y consumidas en todo el mundo gracias a sus amplias propiedades culinarias y nutricionales. Se cree que el origen de esta planta nos lleva a Asia, aunque fue extendida a Europa y Oriente Medio hace miles de años.
    <br><br>
    El bulbo, de intenso sabor y olor cuando es cortado, ha sido apreciado ya en las culturas egipcias y de la antigua Grecia por los múltiples beneficios que aporta a la salud.
  </p>

  <h2>Se recomienda plantar hoy?</h2>
  <ion-button (click)="checkConditions()">Verificar</ion-button>
  <p>{{ judgement }}</p>

  <h2>Siembra</h2> 

  <h3>Cuándo plantar ajos</h3>
  <p>
    La mejor temporada para plantar el ajo depende mucho del clima de la zona en que vivas. En la mayoría de zonas del Mediterráneo el ajo se cultiva, habitualmente, entre finales de otoño y principio de invierno, ya que es una planta que germina bien con el frío de un invierno suave.
    <br><br>
    Sin embargo, si el clima en que vives es de inviernos muy fríos, se recomienda plantarlo una vez pasado lo peor del invierno. En zonas templadas puede llegar a plantarse dos veces al año, en primavera y en otoño.
  </p>

  <h3>Cómo plantar ajos paso a paso</h3>
  <p>
    A la hora de sembrar ajos en casa, ya sea en una maceta o en el jardín, lo más sencillo y común es utilizar dientes del propio bulbo, es decir, los que se usan en cocina. El ajo que habitualmente se compra no es otra cosa que el bulbo subterráneo de la planta, y aunque es posible sembrar semillas de ajo, que parecen minúsculos dientes del mismo, su crecimiento es mucho más rápido al plantarse directamente los dientes grandes. Sigue estos sencillos pasos para plantar ajos en casa:
  </p>

  <ul>
    <li>
      Elige la ubicación de los ajos. Si vas a plantarlos en exterior, cava pequeños agujeros de entre 2 y 3 cms de profundidad, separados unos 15 cms entre ellos. Si vas a plantar múltiples filas, deja el doble de espacio entre ellas. En maceta, será suficiente con elegir una con unos 20 cms de profundidad.
    </li>
    <li>
      Remueve el suelo para oxigenarlo y desapelmazarlo, y abonarlo con abono orgánico para prepararlo para los ajos. Tanto en maceta como en exterior, una capa de compost servirá para que la cosecha sea fructífera.
    </li>
    <li>
      Entierra la cabeza de ajo en el agujero, siempre con la parte puntiaguda hacia arriba.
    </li>
    <li>
      Si siembras desde semillas puedes seguir estos mismos pasos, pero tardarás unos dos años en poder cosechar tus primeros ajos.
    </li>
  </ul>

  <h2>Tiempo de cosecha</h2>
  <ion-button (click)="harvestTime(220)">Calcular</ion-button>
  <div class="contentbox-harvest-date">
    <p>{{ currentDate }}</p>
    <p>{{ ripeningdDays }}</p>
    <p>{{ harvestDate }}</p>
  </div>
  
  <h2>Calorias estimadas por cantidad de plantas sembradas</h2>
  
  <ion-input type="number" placeholder=0 [(ngModel)]="NumPlants">Cantidad de plantas:</ion-input>
  <ion-button (click)="getCalories(48)">Calcular</ion-button>
  <p>R= {{ calories }} calorias</p>
  

  <h2>Cuidados</h2>
  <p>Ahora que ya sabes cómo plantar ajos en casas, continuamos con los cuidados básicos y cultivo de ajos:</p>
  <ul>
    <li>
      <strong>Drenaje, riego y humedad:</strong> Como es el caso de muchos bulbos, uno de los principales enemigos del ajo es el exceso de humedad. Por esto es necesario que la tierra o maceta en que plantes tus ajos cuente con un buen drenaje, y que el riego no sea excesivo. Este es un punto muy delicado, puesto que si la tierra es demasiado seca tendrás ajos de reducido tamaño, pero si los riegas en exceso es muy probable que tus plantas sufran ataques de hongos o enfermedades. Se recomienda mantener un leve nivel de humedad en la tierra, sin llegar nunca a encharcar.
    </li>
    <li>
      <strong>Luz y ubicación:</strong> En lo que a luz se refiere, el ajo aprecia siempre el sol. Tanto en exterior como en interior se recomienda plantarlos en una zona en que reciban un gran aporte de luz solar, y solo en climas muy calurosos o con un sol muy intenso deben ubicarse en zonas de semisombra.
    </li>
    <li>
      <strong>Flores y semillas de ajos:</strong> Es importante también cortar las flores de las plantas en cuanto aparezcan si lo que pretendes es cosechar ajos grandes y sabrosos. De no hacerlo, la planta desviará sus nutrientes hacia la flor y el tallo, y el bulbo será menor. Si, en cambio, lo que quieres es recolectar semillas, puedes dejar algunas flores desarrollarse.
    </li>
    <li>
      <strong>Cuándo se recogen los ajos:</strong> Una vez las hojas de la planta se han secado o marchitado, es el momento de cosechar los ajos. Tendrás que arrancar la planta para quedarte con su bulbo, que es la cabeza de ajo, y dejarla secar al sol durante unos días. Si has plantado antes del invierno o al final de este, lo más normal es que el momento de la cosecha llegue entre mayo y julio.
    </li>
  </ul>

  
  <ion-item>
    <img src="assets/garlic-cuidados.jpg">
  </ion-item>

  <ion-button href="https://www.bioenciclopedia.com/ajo/" 
  target="_blank" expand="block" class="more-info-button">
    Mas información aquí
  </ion-button>


  <h2>Plagas</h2>
  <p>Estas son las Plagas más frecuentes en el cultivo del ajo.</p>
  <ul>
    <li>
      <strong>Gorgojo de los ajos (Brachicerus algirus F.):</strong> Es un coleóptero que ataca en  primavera, y cuyas larvas penetran en los bulbos y causan grandes daños.
    </li>
    <li>
      <strong>Hylemia antiqua Meig:</strong> Las larvas parásitan los dientes en germinación
    </li>
    <li>
      <strong>Acaro del disco, Petrobia latens Müller:</strong> Asociado a ciertos ataques de nematodos y que produce síntomas confundibles con los de la sequía.
    </li>
    <li>
      <strong>Nematodos del suelo, (Dytilinchus dipsaci Kuehn):</strong> Crean problemas muy importantes. Producen crecimiento raquítico, hojas asimétricas y amarilleamiento.
    </li>
  </ul>

  <ion-item>
    <img src="assets/garlic-plage.jpg">
  </ion-item>

  <h2>Enfermedades</h2>
  <p>Diversos hongos que pueden atacar durante el cultivo y durante el almacenamiento.</p>
  <ul>
    <li>
      <strong>Raíz Rosa</strong> producida por Setophoma terrestris, que produce las características raíces de color rosado, y también perdida de turgencia y muerte de raíces. La enfermedad también ataca a las cebollas.
    </li>
    <li>
      <strong>Podredumbre por Penicillium</strong> En plantas atacadas se observa presencia de pequeñas lesiones y heridas en el diente con desarrollo de podredumbre. La podredumbre tiene un característico color verdoso. Origina podredumbres pos cosecha en las cabezas de ajo.
    </li>
    <li>
      <strong>Mancha Blanca</strong> originada por Stemphylium vesicarium enfermedad que también ataca a la cebolla.
    </li>
  </ul>

  <ion-button href="https://www.agro.basf.es/es/Camposcopio/Secciones/Enfermedades-y-plagas/Principales-enfermedades-y-plagas-del-ajo/" 
  target="_blank" expand="block" class="more-info-button">
    Mas información de plagas
  </ion-button>
</ion-content>