<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" href="#">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-item>

    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Limón</h1>

  <ion-item>
    <img src="assets/lime.png" class="main-image-plant">
  </ion-item>

  <p>
    El limonero es uno de los frutales más populares a la hora de plantar en casa, ya que los cuidados de un limonero no son muy exigentes y crece muy bien en bastantes climas. Además, tener un limonero en casa es la mejor forma de tener una fuente de limones ecológicos y de increíble sabor en cada temporada.
    <br><br>
    El hecho de cuándo plantar un limonero no tiene mucho secreto, y es que este árbol comparte las épocas de siembra preferentes de la mayoría de especies frutales: la primavera. Dentro de estos meses, la mayoría de aficionados y expertos recomiendan realizar la siembra o plantación del limonero entre marzo y abril, dado que en un clima mediterráneo estos meses ofrecen ya unas temperaturas lo bastante suaves para que la planta crezca adecuadamente.
    <br><br>
    Sin embargo, puedes plantar también en junio si tu zona no es excesivamente calurosa. Si se te ha pasado la primavera y quieres intentar plantar en otoño, también tienes buenas posibilidades de éxito, aunque ten en cuenta que al limonero no le sienta muy bien del frío: si tu clima es muy frío y lo plantas en exterior en otoño, el árbol podría tener graves problemas y llegar a morir.
  </p>

  <h2>Se recomienda plantar hoy?</h2>
  <ion-button (click)="checkConditions()">Verificar</ion-button>
  <p>{{ judgement }}</p>

  <h2>Siembra</h2>
  <p>
    Si te preguntas cómo sembrar un limonero, ten en cuenta que el proceso es mucho más largo porque hay que germinar la semilla y esperar a que crezca lo suficiente como poder plantar el limonero en su lugar definitivo en el suelo o en una maceta más grande. Aquí te explicamos Cómo germinar una semilla de limón, pero como resumen podemos indicar que la forma más sencilla de germinar una semilla de limonero es cogerla de un limón, limpiarla bien a fondo y, con mucho cuidado, abrir su extremo puntiagudo con las uñas para facilitar a la misma la germinación. Ábrelo un poco, sin desgarrarlo y solo en el extremo. Tras esto, envuelve las semillas en papel absorbente humedecido y guárdalas en un lugar oscuro y algo cálido, humedeciéndolas de nuevo cuando se sequen. Una vez hayan germinado, estarán listas para ser plantadas.
    <br><br>
    A la hora de plantar el limonero, lo mejor es hacerlo siempre desde una semilla ya germinada o desde un pequeño plantón, que puedes adquirir en un vivero.
    <br><br>
    Puedes plantar el árbol en el exterior directamente o en una maceta, ya que el limonero es uno de los árboles frutales que pueden crecer en maceta. Si no estás muy seguro de tu clima empieza por plantarlo en maceta, de forma que podrás controlar mejor su crecimiento y condiciones y trasplantarlo más adelante si te interesa. Si aún así, decides plantar en su ubicación definitiva ya, ten en cuenta que la ubicación para plantar un limonero debe ser lo más soleada posible.
  </p>
  
  <h2>Calorias estimadas por cantidad de plantas sembradas</h2>
  
  <ion-input type="number" placeholder=0 [(ngModel)]="NumPlants">Cantidad de plantas:</ion-input>
  <ion-button (click)="getCalories(580)">Calcular</ion-button>
  <p>R= {{ calories }} calorias en un arbol pequeño</p>
  

  <h2>Cuidados</h2>
  <ul>
    <li>
      Prepara un recipiente con fibra de coco y humus de lombriz, que formarán un sustrato muy ligero y de gran drenaje además de rico en nutrientes.
    </li>
    <li>
      Ubica el plantón con mucho cuidado de no dañar su raíz y pulveriza con agua tras hacerlo.
    </li>
    <li>
      Tras esto, ubica la maceta en una ubicación protegida, donde reciba al menos 4 horas de luz al día.
    </li>
    <li>Mantén la tierra húmeda pero nunca encharcada o empapada, y riega a menudo y en pocas cantidades.</li>
    <li>
      Cuando la planta sea lo suficientemente grande, puedes trasplantarla a una maceta mayor si estaba en un semillero o en una maceta que le queda pequeña.
    </li>
    <li>
      Cuando la planta tenga uno o dos años de edad, deberás moverla a una ubicación lo más soleada posible, ya que esta planta necesita de una gran cantidad de sol para crecer bien y dar flores y frutos.
    </li>
  </ul>


  <ion-item>
    <img src="assets/lemon-cuidados.jpg">
  </ion-item>


  <h2>Plagas</h2>
  <ul>
    <li>
      <strong>El psílido asiático de los cítricos (Diaphorina citri):</strong> Es un insecto que se alimenta preferentemente de tallos y hojas tiernas secretando grandes cantidades de mielecilla y una sustancia cerosa de color blanco. La presencia del insecto está asociada a la fenología del cultivo de limón mexicano, la constante emisión de brotes vegetativos en un factor para la reproducción e incremento de las poblaciones del psílido. Los daños son directos al alimentarse del follaje y se instala en el envés de las hojas, el mayor daño que causa se debe a que transmite la bacteria causante del HLB.
    </li>
    <li>
      <strong>Minador de la hoja (Phyllocnistis citrella):</strong> Plaga de importancia económica baja a media, presente en el cultivo de limón, su daño es significativo en plantaciones jóvenes y en los viveros. Su estado inmaduro se alimenta de las hojas tiernas y forma canales o galerías hasta cubrir toda la hoja.
    </li>
    <li>
      <strong>Escama de nieve (Unaspis citri)</strong> Esta plaga se encuentra ampliamente distribuida en el cultivo de limón mexicano y limón persa, los daños son provocados por la succión de la savia del tronco, ramas, hojas y frutos, lo que provoca el debilitamiento del árbol, caída parcial de hojas, disminución en la producción de fruta e incluso puede causar la muerte de las ramas; la escama también secreta mielecilla que favorece el desarrollo de la fumagina.
    </li>
  </ul>

  <ion-item>
    <img src="assets/lemon-plage.jpg">
  </ion-item>

  <h2>Enfermedades</h2>
  <p>Los virus se diseminan en los tubérculos y pueden reducir los rendimientos hasta en 50 por ciento.</p>
  <ul>
    <li>
      <strong>Antracnosis (Colletotrichum gloeosporoides):</strong> Esta enfermedad afecta brotes, flores y frutos, provocando un aspecto de polvillo abundante en brotes, los cuales se marchitan y mueren a partir de las puntas, asimismo, los racimos florales pueden dañarse en su totalidad, los frutos pueden ser afectados hasta agrietarse con una lesión corchosa y caer o quedar adheridos a la rama
    </li>
    <li>
      <strong>Fumagina (Capnodium citri):</strong> Se encuentra distribuida en las regiones citrícolas comerciales de México, se presenta en superficie de hojas, tallos y frutos; en ataques severos causa la reducción de la capacidad fotosintética de las hojas y, por otro lado, los frutos dañados pueden detener su desarrollo. En frutos, hojas y tallos se observan manchas de color negro, similares al tizne. La presencia de esta enfermedad está asociada a insectos chupadores como mosca blanca, mosca prieta y el psílido asiático de los cítricos (vector del HLB).
    </li>
    <li>
      <strong>El Huanglongbing (Candidatus Liberibacter asiaticus):</strong> es actualmente reconocida como la enfermedad más devastadora a nivel mundial que representa un problema fitosanitario grave en la citricultura, afectando tanto a cítricos dulces como agrios. Para el caso de limón mexicano, los síntomas se expresan con un moteado difuso asimétrico en hojas y presenta defoliación, follaje escaso y con reducción en la capacidad de floración y fructificación, causando en casos severos, la muerte del árbol. Asimismo, su transmisión se apoya mediante un vector, el psílido asiático de los cítricos (Diaphorina citri) y mediante injertos con yemas infectadas y/o movilización de material vegetativo, por lo que existe riesgo constante de dispersión.
    </li>
    <li>
      <strong>Moho del fruto,</strong> es causado por diferentes especies del hongo Penicillium. La infección de los frutos ocurre a través de heridas en la cáscara causadas durante la cosecha, transporte, empaque y/o almacenamiento, es una de las principales causas de pérdida de fruta en tránsito y almacén. 
    </li>
  </ul>
</ion-content>