<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header>
    <ion-card-title>Iniciar Sesión</ion-card-title>
  </ion-card-header>


<ion-list>
  <ion-item color="light">
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="email" type="text" required></ion-input>
  </ion-item>

  <ion-item color="light">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="pwd" type="password" required></ion-input>
  </ion-item>

  <ion-button class="ion-margin-top" type="submit" expand="block" color="light" (click)="onSubmit()">
    Iniciar Sesión
  </ion-button>

  <ion-item class="ion-text-center">
    <ion-label>Todavía no tienes una cuenta?</ion-label>
  </ion-item>

  <ion-button color="dark" expand="block" fill="outline" [routerLink]="['/registro-usuario']">Registrarse</ion-button>
</ion-list>

</ion-card>
