<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar Sesión</ion-card-title>
    </ion-card-header>
  
  
        <ion-item color="light">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" placeholder={{Email}} [(ngModel)]="Email"></ion-input>
        </ion-item>
  
        <ion-item color="light">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="text" placeholder={{Pass}}} [(ngModel)]="Pass"></ion-input>
        </ion-item>
  
        <ion-button (click)="onSubmit()">Submit</ion-button>

        <ion-label>{{Result}}</ion-label>
  
  
  
  <ion-item class="ion-text-center">
    <ion-label>Todavía no tienes una cuenta?</ion-label>
  </ion-item>
  <ion-button class="registerB" color="dark" expand="block" fill="outline" [routerLink]="['/registro-usuario']">
    Registrarse
  </ion-button>
  
  </ion-card>

</ion-content>
