<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-card>
  <ion-card-header>
    <ion-card-title>Iniciar Sesión</ion-card-title>
  </ion-card-header>

  <ion-card-content name="login-form">
    
    <div class = "list">
      <label class = "item item-input item-floating-label">
         <span class = "input-label"t>Nombre de Usuario</span>
         <input type = "text" placeholder = "Nombre de Usuario" />
      </label>
   
      <label class = "item item-input item-floating-label">
         <span class = "input-label">Contraseña</span>
         <input type = "password" placeholder = "Contraseña" />
      </label>

      <button class="button button-block button-balanced"> Iniciar Sesión </button> 
   </div>

  </ion-card-content>
</ion-card>