ion-toolbar{
    padding-left: 10px;
    --background:#d1d990;
}


ion-toolbar ion-title{
    color: #618f50;
    font-weight: bold;
    font-size:30px;
    padding-left:15%;
}

ion-toolbar ion-thumbnail{
    width: 80px;
    height: 80px;
}

ion-card-title{
    font-weight: bold;
    font-size:25px;
}

ion-card{
    padding-left:5%;
    padding-right:5%;
    margin-bottom: 70%;
    --background: #FAEDCD;
}
ion-list{
    margin-bottom: 5%;
    background-color: #FAEDCD;
}
ion-list ion-button{
    margin-top:5%;
    margin-left: 10%;
    margin-right: 10%;
    --background: #D4A373;
}
ion-item{
    --background: #FAEDCD;
}

ion-button{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}