<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" href="#">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-item>

    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Jitomate Cherry</h1>

  <ion-item>
    <img src="assets/tomato.png" class="main-image-plant">
  </ion-item>

  <p>
    El tomate cherry, también llamado tomate cereza o tomate uva, es una planta actualmente muy popular para su consumo alimenticio. La especie se trata de una mezcla entre Solanum pimpinellifolium y tomates de jardín. Esta variedad es originaria del México azteca y no se cultivó en Europa hasta el siglo XVI. Aun así, su popularización ha llegado bastante después, a principios del siglo XX. En la actualidad existen un sinfín de variedades de tomates cherry, tales como los tomates cherry rojos, los tomates cherry pera o los tomates cherry amarillos.
  </p>

  <h2>Se recomienda plantar hoy?</h2>
  <ion-button (click)="checkConditions()">Verificar</ion-button>
  <p>{{ judgement }}</p>


  <h2>Siembra</h2>
  <h3>Cuándo plantar tomates cherry</h3>
  <p>
    Plantar tomates cherry resulta muy sencillo y puede hacerse tanto en el jardín como en maceta a partir de simples semillas. Su temporada de cultivo es muy amplia, sobre todo en climas tropicales, donde pueden sembrarse durante prácticamente todo el año.
    <br><br>
    En zonas de clima más templado, se recomienda plantar las semillas de tomate cherry cuando lo peor del invierno ya ha pasado y antes de que lleguen los días más calurosos del verano, es decir, entre enero y junio generalmente.
  </p>

  <h3>Cómo plantar tomates cherry con semillas</h3>
  <p>
    Antes de empezar a plantar tomates cherry, tenemos que decidir si vamos a plantarlos en interior o en exterior, ya sea en una terraza, jardín o huerto. Ambas opciones son igual de válidas, aunque si vives en una zona fría, quizás tus tomates crezcan mejor en una maceta de interior.
    <br><br>
    Para plantar los tomates se recomienda adquirir semillas, ya que las semillas que tienen los tomates que puedes encontrar en el supermercado tienen menos posibilidades de abrirse. Esto se debe a que la mayoría de ellos se recogen de forma temprana para que tarden más en desperdiciarse y se puedan comprar durante más tiempo. Por ello, podrían no haber formado sus semillas del todo.
  </p>
  <p><strong>A continuación, vamos a explicarte paso a paso, cómo plantar tomates cherry con semillas:</strong></p>
  <ul>
    <li>
      Prepara el lugar donde vas a plantar tus semillas: si no vives en un lugar cálido se recomienda hacer germinar los tomates en un semillero. Para ello, prepara un sustrato hortícola común y humedece la tierra pulverizando el agua.
    </li>
    <li>
      Entierra las semillas a unos 5 mm de profundidad, dejando entre 1 y 2 cm de separación entre ellas. Después, humedece de nuevo la tierra procurando no encharcarla ni dejar las semillas al descubierto.
    </li>
    <li>
      Cubre el semillero con film transparente para que mantenga la humedad mejor. Durante los primeros días, observa el semillero a menudo y mantén la humedad pulverizando de nuevo cuando sea necesario, pero siempre sin encharcar.
    </li>
    <li>
      Cuando salgan las primeras hojas, puedes retirar el film y poner el semillero cerca de la ventana o en la terraza, donde reciba luz natural. Riega aproximadamente cada 3 días.
    </li>
    <li>
      Una vez la planta tenga una altura de 10 cm o poco más, es momento de trasplantarla a su ubicación definitiva. Para las macetas, no será necesario que tengan más de 10 cm de fondo, aunque sí se requiere que dispongan de agujeros de drenaje. Recuerda que esta planta agradece recibir una gran cantidad de luz solar.
    </li>
    <li>
      Puedes añadir abono orgánico, aunque el trasplante puede efectuarse con normalidad. En este artículo que te recomendamos puedes leer sobre Cómo hacer abono orgánico casero para plantas.
    </li>
    <li>
      Puedes entutorar (colocar una palo o vara como guía) el tomate cherry para que crezca adecuadamente. Para esto, simplemente hay que clavar un palo en la tierra junto a la tomatera, del tamaño aproximado de unos palillos chinos, y atar la planta a este con un hilo.
    </li>
    <li>
      En el caso de que decidas adquirir plántulas, en lugar de semillas, y plantar los tomates cherry en maceta, lo único que deberás tener en cuenta será escoger un buen tamaño de maceta. Como todo manual de cultivo de tomate cherry, recomendamos que el mejor tamaño de maceta para un tomate cherry es de mínimo 20 litros y con un buen drenaje.
    </li>
  </ul>

  <h2>Tiempo de cosecha</h2>
  <ion-button (click)="harvestTime(85)">Calcular</ion-button>
  <div class="contentbox-harvest-date">
    <p>{{ currentDate }}</p>
    <p>{{ ripeningdDays }}</p>
    <p>{{ harvestDate }}</p>
  </div>
  
  <h2>Calorias estimadas por cantidad de plantas sembradas</h2>
  
  <ion-input type="number" placeholder=0 [(ngModel)]="NumPlants">Cantidad de plantas:</ion-input>
  <ion-button (click)="getCalories(36)">Calcular</ion-button>
  <p>R= {{ calories }} calorias</p>
  

  <h2>Cuidados</h2>
  <ul>
    <li>
      <strong>Luz y temperatura:</strong> El principal de los cuidados del tomate cherry es que reciba al menos 6 horas de luz directa al día. Su temperatura óptima es de entre 20 ºC y 30 ºC, aunque llegan a admitir mínimas de 13 ºC y máximas de 40 ºC.
    </li>
    <li>
      <strong>Riego de los tomates cherry:</strong> Respecto al riego, es uno de los cuidados del tomate cherry más delicados y, quizás, complicado, ya que se debe mantenerse el suelo siempre húmedo a través de un riego constante, pero nunca debemos dejarlo encharcado. Debe hacerse directamente sobre la tierra y en ningún caso sobre las hojas o los hongos y la putrefacción podrían atacar a la planta. En tal caso, usa fungicidas caseros para tomates, cambia parte de la tierra de la planta por una que no tenga tanta humedad y elimina las partes muy enfermas de la planta.
    </li>
    <li>
      <strong>Fertilizantes y abonos:</strong> Se recomienda usar fertilizante o abono orgánico cada 15 días en las semanas de primavera y verano. Del mismo modo también es bueno retirar tanto las hojas secas y sobrantes como los chupones laterales.
    </li>
    <li>
      <strong>Plagas en los tomates cherry:</strong> En ocasiones este tomate puede ser atacado por el pulgón y otras plagas, así que obsérvalo regularmente por si es necesario tomar medidas contra ellas. En este otro artículo te contamos más sobre Cómo combatir las plagas del tomate ecológicamente y puedas realizar un buen cuidado del tomate cherry.
    </li>
    <li>
      <strong>Cuándo se recogen los tomates cherry:</strong> Para finalizar este manual de cultivo de tomate cherry, hace falta mencionar que la cosecha de tomates cherry será posible aproximadamente 3 meses después de haberlos plantado, cuando se vean rojos y saludables. Además, te recomendamos que cuando los coseches, disfrutes de su sabor en variedad de platos, como ensaladas y pizzas, y que guardes todas las semillas que puedas si quieres volver a sembrarlos y seguir teniendo tomates cherry ecológicos
    </li>
  </ul>

  
  <ion-item>
    <img src="assets/tomato-cuidados.jpg">
  </ion-item>

  <ion-button href="https://www.bioenciclopedia.com/tomatera/" 
  target="_blank" expand="block" class="more-info-button">
    Mas información aquí
  </ion-button>


  <h2>Plagas</h2>
  <ul>
    <li>
      <strong>Tuta (Tuta absoluta):</strong> Lo síntomas que causa este lepidóptero son minas anchas que dejan intacta la epidermis pero se pueden apreciar restos de excrementos en su interior. Los brotes quedan apolillados y los tomates presentan unos orificios y las zonas internas ennegrecidas.
    </li>
    <li>
      <strong>Gusano del tomate (Heliotis sp.) y otras orugas:</strong> Nos encontramos con unas perforaciones de tamaño considerable por donde, a veces, podemos ver a la oruga zamparse nuestro fruto. También se pueden observar roeduras en hojas, flores, frutos y brotes tiernos, habitualmente con excrementos y SIN BABAS (nos da la pista de que no es un caracol o babosa)
    </li>
    <li>
      <strong>Pulgones (Myzus persicae, Macrosiphum euphorbiae:</strong> Los pulgones producen un enrollamiento y arrugado de hojas hacia abajo. Además, puedes apreciar colonias de estos pequeños insectos de color oscuro o verdoso, sobre todo en los brotes tiernos de la planta en desarrollo. Otra pista es la presencia de melaza (sustancia azucarada y pegajosa) y hormigas a su alrededor defendiéndolos.
    </li>
    <li>
      <strong>Mosca blanca (Trialeurodes vaporarium, Bermisia tabaci):</strong> Podemos apreciar unas mosquitas (que en realidad no son moscas) blancas con un vuelo errático característico al agitar la planta. Además, al igual que los pulgones, sueltan melaza. Se suelen disponer en el envés de las hojas.
    </li>
    <li>
      <strong>Trips de las flores (Frankliniella occidentalis):</strong> Las plantas dañadas presentan hojas con pequeñas manchas plateadas e irregulares, que corresponden con lesiones en el envés.
    </li>
  </ul>

  <ion-item>
    <img src="assets/tomato-plage.jpg">
  </ion-item>

  <h2>Enfermedades</h2>
  <ul>
    <li>
      <strong>Mildiu (Phytophtora infestans):</strong> nicialmente, las hojas de la planta se muestran con manchas amarillentas de apariencia aceitosa que pasan a pardas, necrosándose el centro. <br> En el envés aparece un fino velo blanco que se corresponde con las esporas. En el tallo, encontramos manchas pardas alargadas que símbolo de necrosis y marchitez en la planta. El cultivo toma un aspecto quemado.
    </li>
    <li>
      <strong>Oidiopsis (Leveillula taurica, Phytophtora capsici, Alternaria solana):</strong> Encontramos manchas amarillentas en el haz de la hoja que se necrosan rápidamente y aparece una especie de polvillo blanquecino en el envés.
    </li>
    <li>
      <strong>Alternariosis (Alternaria solana):</strong> En las hojas bajas nos encontramos con unas manchas pardas circulares en anillos concéntricos. En tallos y pecíolos las manchas son negras y están muy delimitadas. En frutos, se produce una necrosis deprimida y recubierta de un moho negro.
    </li>
  </ul>
</ion-content>