ion-toolbar {
    padding-left: 15px;
    --background: #CCD5AE;
}

ion-title {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

ion-content, ion-item{
    --background: #FAEDCD;
}

h1{
    text-align: center;
    font-size: 42px;
    padding: 10px 0;
    font-weight: bold;
}

h2{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 15px 5px;
}

p{
    padding: 0 15px;
    text-align: justify;
}

ul, ol{
    margin-right: 25px;
    text-align: justify;
}

li{
    padding: 8px 0;
}