<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" href="#">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-item>

    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Zanahoria</h1>

  <ion-item>
    <img src="assets/Carrot.png" class="main-image-plant">
  </ion-item>

  <p>
    Daucus carota subespecie sativus, llamada popularmente zanahoria, es la forma domesticada de la zanahoria silvestre,
    especie de la familia de las umbelíferas, también denominadas apiáceas, y considerada la más importante y de mayor
    consumo dentro de esta familia. Es oriunda de Europa y Asia sudoccidental. Se cultiva por su raíz mucho más grande,
    sabrosa y de textura menos fibrosa que la especie silvestre.
  </p>

  <h2>Se recomienda plantar hoy?</h2>
  <ion-button (click)="checkConditions()">Verificar</ion-button>
  <p>{{ judgement }}</p>

  <h2>Siembra</h2>
  <p>
    Es uno de los cultivos que, sí o sí, hay que tener en el huerto. Sembrar zanahorias es una práctica más que común
    por múltiples motivos. Por un lado, porque es un cultivo que se da durante todo el año. Por otro, porque su demanda
    de mantenimiento y necesidades es prácticamente mínima. A pesar de esta aparente sencillez, lo cierto es que son
    muchos los amantes del huerto que se frustran con el cultivo de esta hortaliza. Ya sea porque las semillas no acaban
    de germinar o porque el tamaño que alcanzan los frutos no es el esperado, muchas veces eliminamos esta hortaliza de
    nuestros cultivos. Por eso y para evitar este abandono, queremos dedicar algo de tiempo a cuándo y cómo sembrar
    zanahorias correctamente.
    <br><br>
    Solemos creer que todos sabemos cómo sembrar una planta correctamente. A priori, parece tan sencillo como hacer un
    pequeño agujero en la tierra e introducir una semilla. Y, realmente, esta tarea es así de simple pero tiene muchos
    «peros» que hay que contemplar para que tenga éxito. No podemos perder de vista que la siembra es el momento más
    delicado de cualquier planta. De hacerla correctamente y cubriendo sus necesidades depende que la planta, ya sean
    plantas de huerto o de cualquier otro tipo, prospere.
    <br><br>
    En lo que se refiere a sembrar zanahorias, este momento es todavía más importante. Una razón de peso para descubrir
    qué tenemos que preparar y controlar durante las primeras semanas de la planta. Veamos a qué nos referimos paso a
    paso:
  </p>

  <ol>
    <li>
      Preparar la tierra, el punto de partida fundamental para sembrar zanahorias
      <br><br>
      Antes de sembrar zanahorias, es fundamental contar con un suelo rico en nutrientes. Enriquécelo con nuestro humus
      de lombriz.
      <br><br>
      Esta alta exigencia de nutrientes hace que sea imprescindible que nuestras semillas de zanahoria crezcan en un
      espacio sin competidores. Y más que referirnos a otros cultivos, nos referimos a las plantas adventicias.
      Erradicar las malas hierbas es un trabajo fundamental que tendremos que hacer antes de sembrar zanahorias pero,
      también, a medida que crezcan. No solo competirán con estas hortalizas en lo que respecta a nutrientes. También lo
      harán en lo que se refiere al agua: la auténtica y única necesidad del cultivo de zanahorias.
      <br><br>
      Si vamos a plantar directamente en el suelo, sembrar zanahorias debe hacerse en uno hondo ya que necesitan crecer
      en profundidad. Esto nos obliga a revisar convenientemente que en la zona de cultivo no haya piedras que puedan
      frenar su desarrollo.
    </li>
    <li>
      Elegir el mejor momento para sembrar zanahorias
      <br><br>
      Tan vital como preparar el suelo. Saber cuándo es el mejor momento para sembrar zanahorias también nos ahorrará
      muchos disgustos. De hecho, hacerlo cuando no toca es uno de los grandes motivos de que no se den correctamente.
      Cierto es que, por su rusticidad, hablamos de un cultivo que puede practicarse durante todo el año. Pero esto no
      quita que haya épocas más recomendables y propicias para que se desarrollen correctamente.
      <br><br>
      La época ideal para sembrar zanahorias es entre abril y julio. Si vivimos en un clima templado, también podemos
      comenzar con la siembra al final del verano. No hay que perder de vista que las semillas de zanahoria necesitan al
      menos cinco grados para poder germinar correctamente. Por eso no es aconsejable hacerlo en otoño, ni lo es hacerlo
      en los albores de la primavera. Una helada nocturna puede arruinar la germinación.
    </li>
    <li>
      Acondicionar las semillas antes de sembrar
      <br><br>
      Las semillas de zanahoria sorprenden por ser increíblemente pequeñas. Algo que es, en sí mismo, una ventaja y un
      inconveniente. Por un lado, penetran con facilidad en la tierra por lo que es más fácil que germinen. Por otro,
      están expuestas a ser arrastradas del lugar de cultivo por el menor viento que pueda producirse.
      <br><br>
      Para valernos de la ventaja que supone sembrar zanahorias hemos de vencer el inconveniente. ¿Cómo hacerlo?
      Poniendo a remojo las semillas antes de sembrarlas. Lo ideal es tenerlas al menos dos horas en agua. Si vivimos en
      un clima seco, podemos alargar esta tarea hasta las 24 horas previas a la siembra. Tampoco está de más que, al
      humedecerlas, las mezclemos con arena. De esta manera, al sembrar, tendrán mayor peso y más probabilidades de
      germinar.
    </li>
    <li>
      Siembra por voleo, la mejor manera de sembrar zanahorias
      <br><br>
      Si hemos seguido todos los pasos anteriores, estamos preparados para sembrar zanahorias. Algo que no debe hacerse
      como otras plantas, sino que es mucho mejor por voleo. Esta técnica de siembra consiste en lanzar sobre el terreno
      de cultivo las semillas procurando que queden lo mejor distribuidas que sea posible. Una vez repartidas sobre la
      superficie de cultivo, lo ideal es cubrirlas con una capa ligera de cinco milímetros de sustrato para semilleros y
      realizar un riego ligero.
      <br><br>
      Dado que hablamos de una siembra por voleo, tendremos que estar pendientes de la evolución de las semillas. La
      razón es sencilla. La zanahoria demanda un espacio entre plantas de entre 10 y 15 centímetros. Algo que no podemos
      garantizar sembrando mediante este método, sino que implica una corrección a posteriori. Cuando las nuevas
      plántulas tengan un par de hojas, es momento de aclarar. O, lo que es lo mismo, de eliminar las incipientes nuevas
      zanahorias para respetar esa medida.
    </li>
    <li>
      Crear un escudo natural para repeler las plagas
      <br><br>
      El mayor enemigo que tiene esta hortaliza es la mosca de la zanahoria. Un insecto diminuto que, según cuándo
      aparezca en nuestro huerto, puede tener distintos efectos sobre nuestras plantas. Si lo hace en estado inicial,
      nuestra siembra no se desarrollará. Si lo hace cuando el cultivo esté avanzado, puede arruinar la cosecha.
      <br><br>
      Para evitarla, la mejor solución es simultanear sembrar zanahorias con sembrar ajos en los alrededores de nuestro
      cultivo. Un repelente natural que, situado a medio metro de nuestras plantas de zanahoria, mantendrá a esta plaga
      a raya.

    </li>
  </ol>

  <h2>Tiempo de cosecha</h2>
  <ion-button (click)="harvestTime(75)">Calcular</ion-button>
  <div class="contentbox-harvest-date">
    <p>{{ currentDate }}</p>
    <p>{{ ripeningdDays }}</p>
    <p>{{ harvestDate }}</p>
  </div>

  <h2>Calorias estimadas por cantidad de plantas sembradas</h2>
  
  <ion-input type="number" placeholder=0 [(ngModel)]="NumPlants">Cantidad de plantas:</ion-input>
  <ion-button (click)="getCalories(41)">Calcular</ion-button>
  <p>R= {{ calories }} calorias</p>

  <h2>Cuidados</h2>
  <ol>
    <li>
      <strong>Clima:</strong> La zanahoria es una planta que prefiere los climas templados. El aprovechamiento de sus raíces se puede
      hacer durante el primer año de cultivo, necesitando 9ºC mínimo para su desarrollo y siendo alrededor de los 15ºC
      la temperatura ideal para el crecimiento óptimo. Soporta bien las heladas ligeras.
    </li>
    <li>
      <strong>Suelo:</strong> Esta hortaliza prefiere los suelos aireados y frescos y muy ricos en materia orgánica bien compuesta. La
      zanahoria es muy exigente con el suelo, por lo que es aconsejable no repetir cultivo en el mismo terreno en 5
      años, pudiendo aprovecharlo para plantar otras hortalizas que no favorezcan la aparición de enfermedades.
    </li>
    <li>
      <strong>Riego:</strong> La zanahoria exige de riego si la plantas en suelo seco o en verano, por eso elige el tipo de riego que
      mejor se adapte a tus necesidades. El tipo de riego más usado es el de goteo, ya que puedes controlar el regadío
      ahorrando agua y sin encharcar el suelo.
    </li>
    <li>
      <strong>Abono:</strong> Elige un abono o fertilizante adecuado y aplícalo en el suelo antes de la llegada del invierno.
    </li>
    <li>
      <strong>Cultivo:</strong> Prepara el suelo y abonado para el cultivo de zanahoria plantando en terreno profundo pero que no se
      seque con rapidez.
    </li>
  </ol>

  <ion-item>
    <img src="assets/carrot_cuidados.jpg">
  </ion-item>

  <ion-button href="https://www.bioenciclopedia.com/zanahoria/" 
  target="_blank" expand="block" class="more-info-button">
    Mas información aquí
  </ion-button>


  <h2>Plagas</h2>
  <p>Respecto a las plagas más comunes de la zanahoria pueden ser:</p>
  <ul>
    <li>
      Mosca de la zanahoria (Psylla rosae). Los adultos de estas moscas (de aproximadamente medio centímetro, cabeza parda y abdomen alargado y negro) hacen su aparición a mediados o finales de julio y ponen sus huevos en el suelo u otras plantas. Sus larvas, de casi un centímetro son de color blanco amarillento brillante y son las causantes de los daños ya que penetran en la raíz y realizan galerías, sobre todo exteriores, que posteriormente serán origen de pudriciones. Este insecto inverna en el suelo en estado pupario y hace su aparición en primavera.
    </li>
    <li>
      Pulgones (Cavariella aegopodii, Aphis spp. y Myzus persicae). A los daños ocasionados por el picoteado de la epidermis y como consecuencia los fuertes abarquillamientos que se producen en las hojas que toman un color amarillento, están los otros daños que pueden aparecer como consecuencia de las virosis que pueden llegar transmitidas por este insecto.
    </li>
    <li>
      Gusanos grises (género Agrotis). Son orugas que devoran su masa foliar durante la noche, permaneciendo en suelo o bajo las hojas secas durante el día.
    </li>
    <li>
      Gusanos de alambre (Agriotes obscurus, Agriotes sputator y Agriotes lineatus). Estos producen daños en las raíces de la zanahoria mediante galerías que además suelen generar pudriciones.
    </li>
    <li>
      Nemátodo Heterodera carotae. Plaga muy importante y extendida en climas templados. Los síntomas en plantas atacadas son un follaje muy reducido y hojas de color rojizo. En las raíces reducen su tamaño, se bifurcan y suelen provocar una cabellera de raicillas oscuras.
    </li>
    <li>
      Nemátodo Meloidogine spp. Produce daños similares, pero es más propia de climas cálidos.
    </li>
  </ul>

  <ion-item>
    <img src="assets/carrot_plage.jpg">
  </ion-item>

  <h2>Enfermedades</h2>
  <p>En cuanto a las enfermedades más comunes de la zanahoria pueden ser:</p>
  <ul>
    <li>Mildiu (Plasmopara nivea). Daña la masa foliar de la zanahoria hasta debilitarla e incluso acabar con su vida.
    </li>
    <li>Oídio (Erysiphe umbelliferarum y Leveillula taurica). Sus ataques producidos son parecidos, caracterizados por la formación en la superficie de las hojas de un tipo de pudrición blanca y sucia.
    </li>
    <li>Picado o Cavity-spot (Pythium violae, Pythium sulcatum, Pythium intermedium y Pythium rostratum). Sus daños se ocasionan sobre la raíz, apareciendo pequeñas manchas elípticas y translúcidas con contornos delimitados. Estas manchas terminan provocando un hundimiento y oscurecimiento de la piel de las zonas afectadas.
    </li>
    <li>Quemadura de las hojas (Alternaria dauci). Aparece sobre las hojas en ambientes húmedos y calurosos durante el verano y el otoño. Se muestra sobre ellas inicialmente en forma de pequeñas manchas parduzcas aureoladas de amarillo. Si el ataque es intenso llega a desecar los foliolos completamente. La planta llega a tener el aspecto de quemada por el sol o por un mal tratamiento fitosanitario.
    </li>
  </ul>
</ion-content>