<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item slot="start" href="#">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-item>

    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Zarzamora</h1>

  <ion-item>
    <img src="assets/blackberry.png" class="main-image-plant">
  </ion-item>

  <p>
    La zarzamora es una gran alternativa para sembrar en nuestro huerto casero, ya que proporciona mucho y requiere muy poco.  No es muy cultivo muy demandante y crece bien en zonas templadas.
    <br><br>
    Algunas variedades toleran incluso condiciones más cálidas y hasta tropicales.
  </p>

  <h2>Se recomienda plantar hoy?</h2>
  <ion-button (click)="checkConditions()">Verificar</ion-button>
  <p>{{ judgement }}</p>

  <h2>Siembra</h2>
  <p>
    Si decides cultivar zarzamoras, es muy importante que tomes en cuenta algunas cosas para que tengas éxito.
  </p>
  <ul>
    <li>
      La siembra se realiza en época de lluvias o solo si hay abundante riego.
    </li>
    <li>
      En aquellas regiones con inviernos muy fríos, se recomienda esperar hasta la primavera.
    </li>
    <li>
      En zonas con inviernos más moderados, pueden plantarse en otoño, para que tengan oportunidad de establecerse antes de su temporada de crecimiento.
    </li>
  </ul>

  <h3>Cómo sembrar zarzamora paso a paso</h3>
  <ul>
    <li>
      <strong>Limpia el terreno:</strong> Extrae malas hierbas y restos de cultivos anteriores y todo tipo de residuos para garantizar que tus zarzamoras reciban la cantidad de nutrientes adecuada.
    </li>
    <li>
      <strong>Prepara el terreno:</strong> Humedece el terreno antes de sembrar. Deberás arar previamente, por lo menos unos 30 cm para airearla. Esparce turba y humus de lombriz en la tierra, o mezcla una capa de 5 cm de estiércol para abonar el suelo.
    </li>
    <li>
      <strong>Introduce las plántulas en el suelo:</strong> Es más sencillo cultivar zarzamora a partir de plántulas. Puedes sembrarlas en el jardín directamente o en una maceta, si así lo prefieres. Al momento de la siembra el suelo debe estar completamente preparado y húmedo, pero no inundado.
      <br><br>
      Coloca las plantas en surcos, dejando una distancia de entre 1.5 y 2m. entre cada planta y de 1.7 a 2.0 m. entre cada surco.
    </li>
    <li>
      <strong>Riega con frecuencia:</strong> Asegúrate de que la tierra se mantenga siempre húmeda, pero sin producir charcos.
    </li>
    <li>
      <strong>Fertiliza la tierra:</strong> Después del invierno, se recomienda colocar compost o abono en las capas alrededor de la zarzamora, antes de la temporada de crecimiento.Esto permitirá que tus plantas sigan dando frutos durante 20 años o más.
    </li>
    <li>
      <strong>Tutora las plantas:</strong>La planta de zarzamora, en condiciones naturales, es achaparrada con las ramas y tallos entrecruzados, por lo que, si queremos cultivarla, resulta imprescindible tutorar los tallos para evitar que toquen el suelo y todo se enrede de forma que sea imposible su recolección.
    </li>
    <li>
      <strong>Poda con frecuencia:</strong> Poda las cañas nuevas durante el segundo año de la temporada de crecimiento. La poda permitirá controlar el crecimiento, la cosecha y producir fruta de mejor calidad. Así mismo, previene enfermedades. Cuando tu planta esté lista para dar frutos, corta los brotes nuevos desde la base de la planta.
    </li>
  </ul>

  
  <h2>Calorias estimadas por cantidad de plantas sembradas</h2>
  
  <ion-input type="number" placeholder=0 [(ngModel)]="NumPlants">Cantidad de plantas:</ion-input>
  <ion-button (click)="getCalories(559)">Calcular</ion-button>
  <p>R= {{ calories }} calorias por arbusto en una temporada</p>
  

  <h2>Cuidados</h2>

  <h3>¿Cuáles son las condiciones más favorables de iluminación y temperatura?</h3>
  <p>
    Necesitan de un clima relativamente fresco y soleado.  Aunque le gusta la luz del sol, es sensible al exceso, por lo que, si la región es muy calurosa, es recomendable ubicarla en un sitio a semi sombra.
    <br><br>
    Su temperatura óptima se encuentra entre los 16ºC y los 25°C, con una humedad relativa de entre 80 y 90%.
  </p>
  <h3>¿Cada cuánto se debe regar?</h3>
  <p>
    La zarzamora es sensible a la sequía. Su sistema radicular no es muy profundo, por lo que se recomienda que los riegos sean frecuentes y cortos, en especial durante la época de floración y cuajado, que es cuando los riegos se vuelven indispensables.
    <br><br>
    Para su crecimiento óptimo y producción, se requieren de aproximadamente 3 cm de agua a la semana. Si el clima es muy caluroso, es posible que la cantidad aumente hasta 5 cm.
    <br><br>
    Considera aplicar entre 3 y 5 cm de mantillo, durante las temporadas más calurosas para conservar la humedad y evitar la erosión del suelo.
    <br><br>
    Un buen esquema de riego da como resultado un mayor tamaño de la fruta, así como un mayor número y mayor diámetro de las cañas.
    <br><br>
    El suelo siempre debe permanecer húmedo al tacto, pero sin encharcamientos, pues puede matar a la planta.
    Se recomienda el sistema de riego por goteo.
  </p>
  <h3>¿Cómo preparamos la tierra?</h3>
  <p>
    Las zarzamoras crecen mejor en suelos franco arcillosos, con buen drenaje, de modo que se retenga sólo el agua suficiente y el exceso se evacue con facilidad.
    <br><br>
    Debe ser rico en materia orgánica, fósforo y potasio.
  </p>


  <ion-item>
    <img src="assets/blackberry_cuidados.jpg">
  </ion-item>


  <h2>Plagas</h2>
  <ul>
    <li>
      <strong>Depredadores:</strong> Pájaros, lagomorfos y roedores. Para prevenir que se coman los cultivos de zarzamora, lo mejor es proteger la planta con mallas protectoras.
    </li>
    <li>
      <strong>Araña roja:</strong> Se recomienda evitar los sustratos con exceso de nitrógeno y la vigilancia de los cultivos durante las primeras fases del desarrollo. En climas bastante secos se recomienda regar los cultivos por la noche para mantener la humedad.
      <br>
      Otra recomendación es la desinfección previa a la plantación en parcelas con historial de araña roja para asegurarnos de que no queden huevos.
    </li>
    <li>
      <strong>Trips:</strong> Para combatirlos se pueden utilizar alternativas ecológicas, tales como el jabón potásico y extracto de neem.
      <br>
      Una forma de control preventivo es colocar trampas o contenedores de color azul o amarillo con superficies pegajosas para que queden adheridos.      
    </li>
    <li>
      <strong>Podredumbre gris (Botrytis cinerea):</strong>Se trata de un parásito que puede llegar a provocar la muerte de la planta.
      <br>
      Para prevenir la Botrytis es importante controlar los niveles de nitrógeno y calcio en el suelo, retirar las plantas que ya han sido afectadas por la enfermedad y tener un especial cuidado en la poda, realizando cortes limpios a ras del tallo y, de ser posible, cuando la humedad relativa no sea muy elevada.
    </li>

  </ul>

  <ion-item>
    <img src="assets/blackberry-plage.webp">
  </ion-item>

  <h2>Enfermedades</h2>
  <ul>
    <li>
      <strong>Verticiliosis:</strong> Ataca a las raíces pudriéndolas. El interior del tallo adquiere un tono café las hojas presentan una coloración amarillenta.
      <br>
      Para prevenir se recomienda utilizar plántulas sanas, así como evitar suelos donde se han sembrado solanáceas.      
    </li>
    <li>
      <strong>Mildiu (Phytophthora infestans):</strong> La dispersión del hongo se realiza por lluvias y vientos, riegos por aspersión, rocíos y gotas de condensación. Las condiciones favorables para su desarrollo son humedades relativas superiores al 90% y temperaturas entre 10 y 25ºC.
      <br>
      Para su prevención se recomienda retirar las plantas que ya han sido afectadas por la enfermedad y hacer un manejo adecuado de la ventilación y el riego. También se recomienda utilizar plántulas sanas.      
    </li>
  </ul>
</ion-content>