<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="assets/Logo.png">
    </ion-thumbnail>

    <ion-title>
      Wiki Planta
    </ion-title>

  </ion-toolbar>
  
  <ion-toolbar>
    <form name="search_bar">
    <input id="searchbar" onkeyup="searchPlant()" type="text" name="search" placeholder="Buscar...">
    <input type="submit" value="BUSCAR" onclick="searchPlant()">
    </form>
  </ion-toolbar>
  
</ion-header>


<ion-item href="/plant-potato">
  <ion-thumbnail slot="start">
    <img src="assets/patata.png">
  </ion-thumbnail>

  <ion-label>
    <h1>Patatas</h1>
    <h2>Tuberculo</h2>
  </ion-label>
</ion-item>

<ion-item href="/plant-cherry-tomato">
  <ion-thumbnail slot="start">
    <img src="assets/tomato.png">
  </ion-thumbnail>

  <ion-label>
    <h1>Jitomate Cherry</h1>
    <h2>Fruta</h2>
  </ion-label>
</ion-item>

<ion-item href="/plant-carrot">
  <ion-thumbnail slot="start">
    <img src="assets/Carrot.png">
  </ion-thumbnail>

  <ion-label>
    <h1>Zanahoria</h1>
    <h2>Tuberculo</h2>
  </ion-label>
</ion-item>

<ion-item href="/plant-garlic">
  <ion-thumbnail slot="start">
    <img src="assets/garlic.png">
  </ion-thumbnail>

  <ion-label>
    <h1>Ajo</h1>
    <h2>Tuberculo</h2>
  </ion-label>
</ion-item>

<ion-item href="/plant-blackberry">
  <ion-thumbnail slot="start">
    <img src="assets/blackberry.png">
  </ion-thumbnail>

  <ion-label>
    <h1>Zarzamora</h1>
    <h2>Fruta</h2>
  </ion-label>
</ion-item>

<ion-item href="/plant-lemon">
  <ion-thumbnail slot="start">
    <img src="assets/lime.png">
  </ion-thumbnail>

  <ion-label>
    <h1>Limón</h1>
    <h2>Fruta</h2>
  </ion-label>
</ion-item>
